<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials\head.ejs %>
    <link rel="stylesheet" href="/stylesheets/productList.css">
    <title>COCO | Product List</title>
</head>
    <% include partials\header.ejs %>
<body>
    
    <section class="container-fluid" id="bloque">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-striped" id="principal">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Colour</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Size</th>
                        <th scope="col">Price</th>
                        <th scope="col">Offer</th>
                    </tr>
                    </thead>
                    <tbody>

                        <% productsList.forEach(product => { %>
                            <tr>
                                <th scope="row"><a href="/product/admin/view/<%= product.id %>"><img src= "/images/iconos/archivo.jpg"></a></th>

                                <td><%= product.id %></td>
                                <td><%= product.name %></td>
                                <td><%= product.brand %></td>
                                <td><%= product.colour %></td>
                                <td><%= product.quantity %></td>
                                <td><%= product.size %></td>
                                <td>$<%= product.price %></td>
                                <td><%= product.offer %></td>
                            </tr>

                        <% }) %>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <section class="container-fluid" id="boton-abajo">
        <div class="row">
                <div class="col-6">
                    <a href="/product/create" ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
                        Add product
                        </button>
                    </a>
                </div>
                <div class="col-6">
                    <a href="/" ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
                        Return
                        </button>
                    </a>
                </div>
        </div>
    </section>

    <% include partials\script.ejs %>

</body>
    <% include partials\footer.ejs %>
</html>