<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials\head.ejs %>
    
    <link rel="stylesheet" href="/stylesheets/productBag.css">
   
    <title>COCO | Bag</title>
</head>
<% include partials\header.ejs %> 
<body id="PrdBag">
    
    <div class="container">
        <div class="row">
            <div class="col-12" id="cuerpo">
                <p><b>BAG</b></p>
            </div>
            
        </div>


        <% if(productos.length != 0){ %>

            <% for(let i=0; i < productos.length; i++){ %>

                <div class="row" id="cuerpo2">
                    <div class="col-5">
                        <a href="/product/detail/<%= productos[i].id %>"><img class="d-block w-100" src="/images/Indumentaria/<%= productos[i].image %>" alt="First slide"></a>
                    </div>
                    <div class="col-7">
                        <% let valor = Math.trunc(((productos[i].price * productos[i].offer.percentage) / 100)) %>
                        <ul id="text">
                            <li><h4><b><%= productos[i].name %></b></h4></li>
                            <li><b>Size:</b> <%= productos[i].sizes.name %></li>
                            <li><b>Colour:</b> <%= productos[i].colour.name %></li>
                            <% if(productos[i].offer.has == 1){ %>
                                <li><b>Price:</b> US$ <%= Math.trunc(productos[i].price - valor) %></li>
                                <% } else{ %>
                                  <li><b>Price :</b> US$ <%= productos[i].price %></li>
                                <% } %>
                        </ul>
                    </div>

                </div>


                
            <% } %>

        <% }else{ %>


        <div class="row">
            <div class="col-12" id="notProd">
                <img src="/images/sadBag.jpg" alt="">
                <p><b>Oops! you don’t have products in your bag</b></p>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4">
                <a href="/product/view/shop" ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
                    Add products
                    </button>
                </a>
            </div>
            <div class="col-4">
            </div>
        </div>
        <% } %>
        
    </div>
                    
    <% include partials\script.ejs %> 
</body>
    <% include partials\footer.ejs %>  
</html>