<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials\head.ejs %>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <title>COCO | Profile </title>
</head> 
<body >
    <% include partials\header.ejs %> 

    <section class="container" id="cuerpo">

        <div class="row">
        
        <div class="card col-3" style="width: 18rem">
            <img src="/images/users/<%= userID.avatar %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 id="title" class="card-title"><%= userID.first_Name + ' ' + userID.last_Name %></h5>
            </div>
            <ul id= "mail" class="list-group list-group-flush">
              <li class="list-group-item"><%= userID.email %></li>
            </ul>
            <div id="edit" class="card-body">
              <a href="/users/profile/edit/<%= userID.id %>" class="card-link">Edit profile</a>
            </div>
            <div id="edit" class="card-body">
              <a href="/users/password/edit/<%= userID.id %>" class="card-link">Change password</a>
            </div>
        </div>

          <div id= "right" class="col-9">
            <% if(userID.category.name == "true"){ %>
            <p id="say"> Hello, <%= userID.first_Name %>!</p>

            <div class="card text-center" id="tar1">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Admin board</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Your sales</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Statistics</a>
                  </li>
                  
                </ul>
              </div>
              <div class="card-body" id="tar2">
                <h5 class="card-title">Where do you ganna go?</h5>
                <p id= "text" class="card-text">Select an action</p>
                <a href="/product"class="btn btn-primary">Products </a>
                <a href="/users/list"class="btn btn-primary">Users </a>
              </div>
            </div>
          </div>
        </div>

        

        <% } else { %>

          <p id="say"> Hello, <%= userID.first_Name %>!</p>

          <div class="card text-center" id="tar1">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Last orders</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Your coupons</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Customized shopping</a>
                </li>
                
              </ul>
            </div>
            <div class="card-body" id="tar2">
              <h5 class="card-title">You don't have any orders right now.</h5>
              <p id= "text" class="card-text">Wanna check out our shop?</p>
              <a href="/product/view/shop"class="btn btn-primary">Yes, please! </a>
            </div>
          </div>
          <% } %>
    </section>
    <div class="row">
      <div class="col-4">

      </div>

      <div class="col-4" id="singout">
        <a href="/users/logout" ><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
          Exit
          </button>
        </a>
      </div>
      
      <div class="col-4">

      </div>

    </div>
   
    <% include partials\script.ejs %> 
      
</body>
    <% include partials\footer.ejs %> 
</html>