<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials\head.ejs %>
    <link rel="stylesheet" href="/stylesheets/sale.css">
    <title>COCO | Sale</title>
</head>
<% include partials\header.ejs %> 
<body>
    
       
    <section class="container" id="cuerpo">
      <div class="row">
          
        <% productsList.forEach(product => { %>

          <% if (product.offer.has == 1){ %>
          <article class="col-3" id="fotulis"> 
            <div class="photo-container">
              <a href="/product/detail/<%= product.id %>" id="picture"><img class="photo" src="/images/Indumentaria/<%= product.image %>" alt="pdto 02"></a>
            
            </div>
            <div id="datos">
              <br>
              <h5><%= product.name %></h5>
              <p><b>US$ <%= Math.trunc(product.price - Math.trunc(product.price * product.offer.percentage / 100)) %></b></p>
              <p id="precioAnterior"><b><%= product.price %></b></p>
              <div id="imageSale">
                <img src="/images/iconos/sale.png" alt="Sale">
              </div>
            </div>
          </article>

        <% }}) %>
      </div>
      
  </section>
    <% include partials\script.ejs %> 
</body>
<% include partials\footer.ejs %> 
</html>