<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials\head.ejs %>
    <link rel="stylesheet" href="/stylesheets/shop.css">
    <title>COCO | Search</title>
</head>
<% include partials\header.ejs %> 
<body id="imagen">
   
    <section class="container" id="cuerpoSearch">
        <div class="row" id="linea">
            <article class="col-4" id="busqueda">
            
                    <form class="form-inline" action="/product/search" method="POST">
                    <input class="form-control mr-sm-2" name="buscar" placeholder="|" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><strong>Search</strong></button>
                    </form>
             

            </article>

            <article class="col-4">
                
            </article>
            

            <article class="col-4">
                
            </article>
        
        </div>

        <div class="row">
            <section>
                <div class="row">
                  
                    <% products.forEach(product => { %>
            
                      <% if (product.offer.has == 1){ %>
                        
                        <article class="col-3" id="fotulis"> 
                          <div class="photo-container">
                            <a href="/product/detail/<%= product.id %>" id="picture"><img class="photo" src="/images/Indumentaria/<%= product.image %>" alt="pdto 02"></a>
                          
                          </div>
                          <div id="datos">
                            <br>
                            <h5><%= product.name %></h5>
                            <p><b>US$ <%= Math.trunc(product.price - Math.trunc(product.price * product.offer.percentage / 100)) %></b></p>
                            <p id="precioAnterior"><b><%= product.price %></b></p>
                            <div id="imageSale">
                              <img src="/images/iconos/sale.png" alt="Sale">
                            </div>
                          </div>
                        </article>
            
                    <% }else{ %>
                      <article class="col-3" id="fotulis"> 
                        <div class="photo-container">
                          <a href="/product/detail/<%= product.id %>" id="picture"><img class="photo" src="/images/Indumentaria/<%= product.image %>" alt="pdto 02"></a>
                        
                        </div>
                        <div id="datos">
                          <br>
                          <h5><%= product.name %></h5>
                          <p><b>US$ <%= product.price %></b></p>
                        </div>
                      </article>
                    <% }}) %>
                </div>
        
            </section>

            
            <% if(!products.length){ %>
                <div class=col-12 id="NoProducts">
               no products found
                </div>
            <% } %>
            
    
        </div>
    </section>
    
    <% include partials\script.ejs %> 
</body>
<% include partials\footer.ejs %> 
</html>